*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary-ff: "Overpass", sans-serif;
  --primary-clr: hsl(25, 97%, 53%);
  --white-clr: hsl(0, 0%, 100%);
  --light-gray-clr: hsl(217, 12%, 63%);
  --medium-gray-clr: hsl(216, 12%, 54%);
  --dark-blue-clr: hsl(213, 19%, 18%);
  --dark-blue-clr2: hsl(216, 12%, 8%);
  --text-fs: 0.9375rem;
}

body {
  background-color: var(--dark-blue-clr2);
  font-family: var(--primary-ff);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.box {
  width: 400px;
  min-height: 400px;
  background-color: var(--dark-blue-clr);
  border-radius: 25px;
}

.wrapper {
  padding: 30px;
}

.circle,
.rating {
  width: 50px;
  height: 50px;
  background-color: hsl(213, 19%, 11%);
  border-radius: 50%;
  margin-bottom: 30px;
  color: var(--medium-gray-clr);
  border: none;
  outline: none;
  transition: 200ms ease-in-out;
}

.title {
  color: var(--white-clr);
}

.text {
  color: var(--light-gray-clr);
  margin-bottom: 30px;
  font-size: var(--text-fs);
}

.submit-btn {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--primary-clr);
  border-radius: 25px;
  transition: 200ms ease-in-out;
}

.btn-link {
  color: var(--white-clr);
  font-size: var(--text-fs);
  text-decoration: none;
  padding: 10px 0px;
  display: inline-block;
  transition: 200ms ease-in-out;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.rating:hover {
  background-color: var(--primary-clr);
  color: var(--white-clr);
}

.rating:focus {
  background-color: var(--medium-gray-clr);
  color: var(--white-clr);
}

.submit-btn:hover {
  background-color: var(--white-clr);
}

.submit-btn:hover .btn-link {
  color: var(--primary-clr);
}

.hide {
  display: none;
}
